body{
    background-color: antiquewhite;
    text-align: center;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto ;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
}