<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>
<body>
    <div class="container">
        <p> Enter Your Anual Salary in Rupees to get your montly salray  </p>
        <form action="/" method="post">
            <label for="Amount" id="label">Amount(in LPA)</label>
            <input type="number" id="amount" name="LPA">
            <button>submit</button>
        </form>
    </div>
</body>
</html>